body {
    padding-top: 60px;
    background-color: #FFF0CF;
}

body {
    color: #131723;
    background-color: #FFF0CF;
    text-shadow: 1px 1px 1px #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia;
    color: #FE5A27;
    text-shadow: 1px 1px 0px #FFFFFF;
}

a {
    color: #49AEC0;
    text-decoration: none;
}

a:hover {
    color: #49AEC0;
    text-decoration: underline;
}

img.cintia_pic {
    padding: 5px 5px 10px 5px;
    border: 1px solid #999999;
    float: left;
    margin-right: 20px;
}

.gallery{
    position: relative;
    overflow: hidden;
    background-color: #666;
    padding: 12px;

    /* Add height & width properties to fix the size of gallery. */
    height: 400px;
    width: 700px;
}

.project_box {
    border:1px solid #FE5A27;
    border-radius:10px;
    -moz-border-radius:10px; /* Old Firefox */
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 10px;
}

.project_image {
    width: 100%;
    height: 200px;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

.input-large {
    width: 100%;
    max-width: 500px;
}